*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
header{
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #11141a;
    display: flex    ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
nav a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
}
nav a:hover,
nav a.active{
    color: #0ef;
}
section{
    min-height: 100vh;
    background: #1f242d;
    
}
section:nth-child(odd){
    background: #323946;
}


/*
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}*/


nav{ 
    
    color: white;
    position: fixed;
    top: 0;
    
    
 }
 nav a{
     
     display: block;
     padding: 0px  500px ;
    
 }