*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: pink;
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 650px;
    background-color: green;
    padding: 28px;
    margin: 0 28px;
}
.form-title{
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px white;
}
.main-user-info{
   
}
.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
@media (max-width:600px){
    .container{
        min-width: 280px;
    }
}