*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-1{
    min-height: 100vh;
    width: 100%;
    background: url(../images/wireframe.jpg);
}
.box-nav{
    margin-left: 5%;
    font-size: 30px;
   
}
.navbar-brand{

    display: none;
}
.navbar-nav{
  padding: 50px;
    
}
.nav-item{
 
  margin-right: 30px;
}
.bg-body-tertiary{
    background-color: transparent;
}
.nav-link{
    color: black;
    font-weight: 500;
}
.page{
    color: blue;
}

/* .three-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */
.three-btn a {
    padding: 8px 17px 12px;
}
.hedader-sec-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.demo{
 
 
  padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
   border-radius: 10px;
   background-color: white;
   color: black;
   
  
}
@media (max-width: 1450px){
    .box-nav{

        font-size: 20px;
       
    }





}
@media (max-width: 1030px){
    .box-nav{

        font-size: 15px;
       
    }
    .section-1{
        min-height: 100vh;
        width: 100%;
        background: url(../images/wireframe.jpg);
    }




}
@media (max-width: 780px){
    .free{
          height: 50px;
          width: 100px;
        text-align: center;
          font-size: 10px;

      }
     








}
.cloud{
margin-left: 40%;
   padding: 20px;
}
.en{
    font-size: 25px;
    text-decoration: none;
   
   color: white;
}
.ai{
    font-size: 25px;
    text-decoration: none;
   
    color: white;
}
@media (max-width: 370px){
    .box-nav{
        position: absolute;

        left: 10%;
     }
     .box-nav{

        font-size: 20px;
       
    }
    .navbar-expand-lg{
        position: absolute;
        left: 20%;
    }
}
@media (max-width: 1030px){
    .box-nav{
        position: absolute;

        left: 40%;
     }
     .free{
    
          font-size: 20px;
         
          padding: 5px 10px 5px 5px;
      }
      .three-btn{
         display: none;
      }
}
@media (max-width: 430px){
    .box-nav{
        position: absolute;

        left: 55%;
     }
}
@media (max-width: 430px){
    .cloud{
         height: 100px;
        width:100px;
     }
}
@media (max-width: 770px){
    .box-nav{
        position: absolute;

        left: 50%;
     }

     
}
  
  /*name section*/
 .content{
    margin-top: 200px;
   
 }
    
h3{
   
 
    font-size: 50px;
  
  }
  .span{
      font-size: 70px;
      color: rgba(0, 0, 95, 0.767);
  }
  .free{
  text-align: center;
    font-size: 30px;
    border: 1px solid black;
    padding: 10px 20px 10px 10px;
}
    

@media (max-width: 330px){
    .head-1{
   
 
        font-size: 30px;
      
      }
      .span{
        font-size: 40px;
        
    }
    .free{
    
        font-size: 10px;
       
        padding: 5px 50px 5px 5px;
    }
    .navbar-nav{
        position: absolute;
        right: 5%;
    }
}
@media (max-width: 620px){
    h3{
   
 
        font-size: 30px;
      
      }
      .span{
        font-size: 40px;
        
    }
    .free{
    
        font-size: 10px;
       
        padding: 5px 50px 5px 5px;
    }

}
/*end of section one*/
/*section two*/
.section-2{
    min-height: 50vh;
    width: 100%;
 
}
.happy{
     padding: 10px;
      text-align: center;
    
        font-size: 90px;
        font-weight: 600;
        color: skyblue;
        margin-bottom: 0px;
}

.static{
    color: black;
}
.head-2{
   margin-bottom: 35px;
    text-align: center;
   
    font-size: 60px;
    font-weight: 700;
}
.para{
    margin-bottom: 80px;
   margin-left: 10%;
  width: 80%;
    text-align: center;
    font-size: 18px;
}
@media (max-width: 330px){
    .happy{
       font-size: 30px;
       
    }
    .head-2{
       
      
       font-size: 20px;
       
   }
}
@media (max-width: 770px){
    .head-1{
        font-size: 70px;
     }

}
.color{

  margin-left: 30%;
    display: flex;
   gap: 20px;
}
@media (max-width: 1450px){
    .color{

    margin-bottom: 20%;
        
      } 
      .happy{
        font-size: 40px;
        
     }
     .head-2{
        
       
        font-size: 30px;
        
    }


}
.sky-blue{
    

    height: 10px;
   width: 90px;
background-color: aqua;
}
.green{
  
    height: 10px;
   width: 90px;

background-color: #9dca3f;
}
.yellow{
   
    
    height: 10px;
   width: 90px;
background-color: gold;
}
.purple{
   

    height: 10px;
   width: 90px;
background-color: #d42294;
}
.violet{
   
    height: 10px;
   width: 90px;
  
background-color: blue;
}
/*section 3*/
/*box-1*/
.section-3{
    min-height: 100vh;
    width: 100%;
  
}
.box1{
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    overflow: hidden;
    
  
  }

  .head{
      color: rgb(8, 156, 214);
      font-size: 50px;
      margin: 10px 30px;
  
      }
      .card-text{
          padding: 20px;
         
          font-size: 25px;
          color: grey;
      }        
      .img-btn{
          display: flex;
          justify-content: space-around;
          align-items: center;
      }
      .link{
          position: relative;
          left: 20%;
          background-color: rgba(128, 128, 128, 0.178);
   height: 250px;
  width: 250px;
  border-radius: 125px;
  text-align: center;
  padding: 80px ;
  
      }
      /*media query using box-1*/
    @media (max-width: 330px){

      .box1{
        padding: ;
        height: 300px;
        width: 300px;
        overflow: hidden;
      }
        
  .head{
   
    font-size: 30px;


    }
    .card-text{
     
       
        font-size: 20px;
      
    }      
    .image-2{
         position: absolute;
         top: 215%;
        left: 10%;

    }  
    .link{
   
      display: none; 
    }
      


    }
    



       /*end of media query using box-1*/
      /* end of box-1*/
      /*box-2*/
      .box2{
        height: 400px;
        width: 400px;
        background-color: whitesmoke;
        overflow: hidden;
        
      
      }
      .head2{
          color: #99ca3f;
          font-size: 40px;
          margin: 10px 30px;
      
          }
          .card-text2{
              padding: 10px;
            
              font-size: 22px;
              color: grey;
          }        
          .img-btn2{
              display: flex;
              justify-content: space-evenly;
              align-items: center;
          }
          .link2{
              position: relative;
             
              left: 20%;
              background-color: rgba(128, 128, 128, 0.178);
       height: 250px;
      width: 250px;
      border-radius: 125px;
      text-align: center;
      padding: 80px ;
      
     
          }
           /* media query using box-2*/
           @media (max-width: 330px){

            .box2{
            
              height: 300px;
              width: 300px;
            }
            .head2{
   
                font-size: 30px;
            
            
                }
                .card-text2{
                 
                   
                    font-size: 20px;
                  
                }      
                .image-3{
                     position: absolute;
                     top: 270%;
                     left: 10%;
            
                }  
                .link2{
               
                  display: none; 
                }
        }
           /*end of  media query using box-2*/
        /*end of box-2*/

        /*box-3*/
        .box3{
            height: 400px;
            width: 400px;
            background-color: whitesmoke;
            overflow: hidden;
            
          
          }
      .head3{
          color: gold;
          font-size: 40px;
          margin: 10px 30px;
      
          }
          .card-text3{
              padding: 10px;
            
              font-size: 22px;
              color: grey;
          }        
          .img-btn3{
              display: flex;
              justify-content: space-evenly;
          }
          .link3{
              position: relative;
             
              left: 20%;
              background-color: rgba(128, 128, 128, 0.178);
       height: 250px;
      width: 250px;
      border-radius: 125px;
      text-align: center;
      padding: 80px;
      
     
          }
           /* media query using box-3*/
           @media (max-width: 330px){

            .box3{
            
              height: 300px;
              width: 300px;
            }
            .head3{
   
                font-size: 25px;
            
            
                }
                .card-text3{
                 
                   
                    font-size: 15px;
                  
                }      
                .poic-3{
                     position: absolute;
                     top: 10%;
                    left: 5%;
            
                }  
                .link3{
               
                  display: none; 
                }
        }
           /*end of  media query using box-3*/
        /*box-4*/
       
        .box4{
  
            height: 400px;
            background-color: whitesmoke;
            overflow: hidden;
            gap: 20px;
            margin: 22px 0;
          }
  .head4{
      color: rgb(228, 25, 218);
      font-size: 50px;
      margin: 10px 30px;
     
      }
      .card-text4{
          padding: 20px;
         
          font-size: 25px;
          color: grey;
      }        
      .img-btn4{
          display: flex;
          justify-content: space-around;
      }
      .link4{
          position: relative;
          left: 20%;
          background-color: rgba(128, 128, 128, 0.178);
   height: 250px;
  width: 250px;
  border-radius: 125px;
  text-align: center;
  padding: 80px ;
  
      }
        /* media query using box-4*/
        @media (max-width: 330px){

            .box4{
            
              height: 300px;
              width: 300px;
            }
            .head4{
   
                font-size: 30px;
            
            
                }
                .card-text4{
                 
                   
                    font-size: 18px;
                  
                }      
                .image-5{
                     position: absolute;
                     top: 340%;
                    left: 10%;
            
                }  
                .link4{
               
                  display: none; 
                }
        }
           /*end of  media query using box-4*/
      /*end of box-4*/
      /*box-5*/
         
      .box5{
  
        height: 400px;
        background-color: #f7f6f7;
        overflow: hidden;
        gap: 20px;
        margin: 22px 0;
      }
      .head5{
        color: #2b459a;
        font-size: 40px;
        margin: 10px 30px;
    
        }
        .card-text5{
            padding: 10px;
          
            font-size: 22px;
            color: grey;
        }        
        .img-btn5{
            display: flex;
            justify-content: space-evenly;
        }
        .link5{
            position: relative;
           
            left: 20%;
            background-color: rgba(128, 128, 128, 0.178);
     height: 250px;
    width: 250px;
    border-radius: 125px;
    text-align: center;
    padding: 80px ;
    
   
        }
          /* media query using box-4*/
          @media (max-width: 330px){

            .box5{
            
              height: 300px;
              width: 300px;
            }
            .head5{
   
                font-size: 30px;
            
            
                }
                .card-text5{
                 
                   
                    font-size: 18px;
                  
                }      
                .image-7{
                     position: absolute;
                     top: 428%;
                    left: 10%;
            
                }  
                .link5{
               
                  display: none; 
                }
        }
           /*end of  media query using box-4*/
      /*box-5*/
        /*section 4*/
        
.section-4{
    min-height: 100vh;
    width: 100%;
  
}

.sky-box{
 
    margin: 300px 0px 60px;
    height: 400px;
    width: 150%;
   display: flex;
    background-color: #0ab0d2;
    border-radius: 100px;
}

.buttons{
    display: flex;
   justify-content: space-around;
}

.box-head-3{

    margin: 20px 100px;

    font-size: 40px;
   color: white;
 
   }
   .para-2{
     margin: 20px 100px;
       font-size: 19px;
      color: white;
     
   }
   .picture{
  position: relative;
 right: 20%;
  bottom: 75%;
   }
   .button-1{
    margin-left: 10%;
    font-size: 30px;
    border: 1px solid black;
    padding: 8px 30px 8px 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
}
.button-2{
    margin-right: 40%;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    font-size: 30px;
    border: 1px solid black;
    padding: 8px 30px 8px 30px;
}

    .const .heading-1{
    
          text-align: center;
        font-size: 60px;
        color: rgb(14, 145, 197);
    }
    
   .const.para{
       
        text-align: center;
        max-width: 1100px;
        font-size: 18px;
    }
    
    
    .const .heading-2{
        text-align: center;
        font-size: 40px;
    }

    @media (max-width: 330px){
         .picture{
            display: none;
         }
         .sky-box{

            margin: 100px auto;
            height: 300px;
            width: 300px;
          
            border-radius: 50px;
            
        }
        .box-head-3{
        position:relative;
        right: 50%;

      min-width: 200px;
           
           
            font-size: 20px;
           color: white;
         
           }
           .para-2{
            position: relative;
            right: 40%;
            min-width: 200px;
           
               font-size: 12px;
              color: white;
             
           }

           .button-1{
            font-size: 15px;
          
          height: 50px;
          width: 15px;
            color: white;
           
        }
        .button-2{
            font-size: 15px;
          
            height: 50px;
            width: 80px;
              color: white;
        }

    }
    .happy-2{
        padding: 10px;
         text-align: center;
       
           font-size: 90px;
           font-weight: 600;
           color: skyblue;
           margin-bottom: 0px;
   }
   
   .static2{
       color: black;
   }
   .head-5{
      margin-bottom: 35px;
       text-align: center;
      
       font-size: 60px;
       font-weight: 700;
   }
   .para-5{
       margin-bottom: 80px;
      margin-left: 10%;
     width: 80%;
       text-align: center;
       font-size: 18px;
   }
   @media (max-width: 330px){
    .happy-2{
      
       
           font-size: 30px;
           font-weight: 600;
          
   }
   
   .static2{
       color: black;
   }
   .head-5{
     
      
       font-size: 25px;
       
   }
   .para-5{
      
       text-align: center;
       font-size: 15px;
   }
}
  /*section-5*/
  .section-5{
    min-height: 100vh;
    width: 100%;
   
   }
   .blue-box{
        
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    height: 500px;
    width: 100%;
    padding: 80px;
   font-size: 20px;
   background-color: #29439a;
   color: white;
   
}
.list-1{
   
    list-style: none;

}
.list-1 li{
    padding: 10px;
   

}
.list-2 li{
    padding: 10px;
   

}
.list-3 li{
    padding: 10px;
   

}
.list-4 li{
    padding: 10px;
   

}
.list-2{
    list-style: none;
}
.list-3{
    list-style: none;
}
.list-4{
    list-style: none;
}
@media (max-width: 330px){
    .blue-box{
        height: 800px;
        width:  300px;
        flex-direction: column;
        font-size: 10px;
      padding: 10px;
    }

    .list-1 li{
        padding: 2px;
       
    
    }
    .list-2 li{
        padding: 2px;
       
    
    }
    .list-3 li{
        padding: 2px;
       
    
    }
    .list-4 li{
        padding: 2px;
       
    
    }


}

  /*section-6*/
  .section-6{
  
    min-height: 100vh;
    width: 100%;
   
   }
   /*white box*/
.white-box{
    display: flex;
    justify-content: space-evenly;
   
    padding: 80px;
   font-size: 20px;
 
   color: black;
   
}
.list-5{
  
    list-style: none;
 
 }
 .list-6{
   
     list-style: none;
  
  }
  .list-7{
   font-size: 18px;
     list-style: none;
  
  }
  .list-8{
   
     list-style: none;
  
  }
  @media (max-width: 330px){
    .white-box{
        height: 800px;
        width:  300px;
     
        font-size: 14px;
        flex-direction: column;
       
      padding: 10px;
    }
    
      .list-7{
       font-size: 12px;
       
      
      }
      

  }
  .line{
   margin-left: 10%;
    height: 3px;
    width: 80%;
    background-color: gray;
   margin-top: 2%;
 }
 .facebook{
    margin-left: 0%;
  margin-bottom: 80%;
    height: 50px;
    width: 50px;
 }
 .insta{
   margin-left: 5%;
    margin-bottom: 80%;
    height: 50px;
    width: 50px;
 }
 .twiter{
    margin-left: 5%;
    margin-bottom: 80%;
    height: 50px;
    width: 50px;
 }

/*media query 2page*/
@media (max-width: 770px){
    .sky-blue{
    

        height: 5px;
       width: 50px;
    background-color: aqua;
    }
    .green{
      
        height: 5px;
       width: 50px;
    
    background-color: #9dca3f;
    }
    .yellow{
       
        
        
        height: 5px;
       width: 50px;
    background-color: gold;
    }
    .purple{
       
    
      
        height: 5px;
       width: 50px;
    background-color: #d42294;
    }
    .violet{
       
       
        height: 5px;
       width: 50px;
      
    background-color: blue;
    }
    .color{

        margin-left: 20%;
          display: flex;
         gap: 20px;
      }





}
/*media query 3page*/
@media (max-width: 1030px){
    .box1{
        height: 400px;
        width: 400px;
        background-color: whitesmoke;
        overflow: hidden;
        
      
      }
    
      .head{
          color: rgb(8, 156, 214);
          font-size: 50px;
          margin: 10px 30px;
      
          }
          .card-text{
              padding: 20px;
             
              font-size: 25px;
              color: grey;
          }        
          .img-btn{
              display: flex;
              justify-content: space-around;
              align-items: center;
          }
          .link{
              position: relative;
              left: 20%;
              background-color: rgba(128, 128, 128, 0.178);
       height: 250px;
      width: 250px;
      border-radius: 125px;
      text-align: center;
      padding: 80px ;
      
          }
        }
          /*media query using box-1*/
          @media (max-width: 1030px){
    
          .box1{
         
            height: 300px;
            width: 300px;
           
          }
            
      .head{
       
        font-size: 20px;
    
    
        }
        .card-text{
         
           
            font-size: 15px;
          
        }      
        .image-2{
             position: absolute;
             top: 240%;
            left: 10%;
           
        }  
        .link{
       
          display: none; 
        }
          
        .box2{
            
            height: 300px;
            width: 300px;
          }
          .head2{
 
              font-size: 20px;
          
          
              }
              .card-text2{
               
                 
                  font-size: 15px;
                
              }      
              .image-3{
                   position: absolute;
                   top: 240%;
                   left: 40%;
                 
              }  
              .link2{
             
                display: none; 
              }
              .box3{
            
                height: 300px;
                width: 300px;
              }
              .head3{
     
                  font-size: 20px;
              
              
                  }
                  .card-text3{
                   
                     
                      font-size: 15px;
                    
                  }      
                  .pic-3{
                       position: absolute;
                       top: 240%;
                       left: 70%;
                    
                  }  
                  .link3{
                 
                    display: none; 
                  }
                  .box4{
            
                    height: 300px;
                    width: 300px;
                  }
                  .head4{
         
                      font-size: 20px;
                  
                  
                      }
                      .card-text4{
                       
                          font-size: 15px;
                        
                      }      
                      .image-6{
                           position: absolute;
                           top: 290%;
                           left: 10%;
                           
                      }  
                      .link4{
                     
                        display: none; 
                      }
                      .box5{
            
                        height: 300px;
                        width: 300px;
                      }
                      .head5{
             
                          font-size: 20px;
                      
                      
                          }
                          .card-text5{
                           
                             
                              font-size: 15px;
                            
                          }      
                          .image-7{
                               position: absolute;
                               top: 290%;
                               left: 40%;
                              
                          }  
                          .link5{
                         
                            display: none; 
                          }
    
        }

/*media query 4page 770*/
@media (max-width: 770px){
    
    .box1{
   
      height: 280px;
      width: 280px;
     
    }
      
.head{
 
  font-size: 18px;


  }
  .card-text{
   
     
      font-size: 13px;
    
  }      
  .image-2{
       position: absolute;
       top: 220%;
      left: 10%;

  }  
  .link{
 
    display: none; 
  }
    
  .box2{
      
    height: 280px;
    width: 280px;
    }
    .head2{

        font-size: 18px;
    
    
        }
        .card-text2{
         
           
            font-size: 12px;
          
        }      
        .image-3{
             position: absolute;
             top: 220%;
             left: 40%;
    
        }  
        .link2{
       
          display: none; 
        }
        .box3{
      
            height: 280px;
            width: 280px;
        }
        .head3{

            font-size: 18px;
        
        
            }
            .card-text3{
             
               
                font-size: 13px;
              
            }      
            .pic-3{
                position: absolute;
                top: 220%;
                left: 70%;
        
            }  
            .link3{
           
              display: none; 
            }
            .box4{
      
                height: 280px;
                width: 280px;
            }
            .head4{
   
                font-size: 18px;
            
            
                }
                .card-text4{
                 
                   
                    font-size: 13px;
                  
                }      
                .image-6{
                     position: absolute;
                     
                     top: 270%;
                     left: 10%;
                     
            
                }  
                .link4{
               
                  display: none; 
                }
                .box5{
                    height: 280px;
                    width: 280px;
                }
                .head5{
       
                    font-size: 18px;
                
                
                    }
                    .card-text5{
                     
                       
                        font-size: 13px;
                      
                    }      
                    .image-7{
                         position: absolute;
                         top: 270%;
                         left: 40%;
                
                    }  
                    .link5{
                   
                      display: none; 
                    }

  }


/*media query 4page 450*/
@media (max-width: 450px){
    
    .box1{
   
      height: 400px;
      width: 400px;
     
    }
      
.head{
 
  font-size: 20px;


  }
  .card-text{
   
     
      font-size: 18px;
    
  }      
  .image-2{
       position: absolute;
       top: 230%;
      left: 10%;
      
  }  
  .link{
 
    display: none; 
  }
    
  .box2{
      
  
    height: 380px;
    width: 380px;
    margin-top: 20%;
    }
    .head2{

        font-size: 20px;
    
    
        }
        .card-text2{
         
           
            font-size: 18px;
          
        }      
        .image-3{
             position: absolute;
             top: 320%;
             left: 10%;
    
        }  
        .link2{
       
          display: none; 
        }
        .box3{
      
            height: 380px;
            width: 380px;
            margin-top: 20%;
        }
        .head3{

            font-size: 20px;
        
        
            }
            .card-text3{
             
               
                font-size: 18px;
              
            }      
            .pic-3{
                position: absolute;
                top: 390%;
                left: 20%;
        
            }  
            .link3{
           
              display: none; 
            }
            .box4{
                height: 380px;
                width: 380px;
                margin-top: 20%;
            }
            .head4{
   
                font-size: 20px;
            
            
                }
                .card-text4{
                 
                   
                    font-size: 18px;
                  
                }      
                .image-6{
                     position: absolute;
                     
                     top: 470%;
                     left: 10%;
                     
            
                }  
                .link4{
               
                  display: none; 
                }
                .box5{
                    height: 380px;
                    width: 380px;
                    margin-top: 20%;
                }
                .head5{
       
                    font-size: 20px;
                
                
                    }
                    .card-text5{
                     
                       
                        font-size: 18px;
                      
                    }      
                    .image-7{
                         position: absolute;
                         top: 550%;
                         left: 10%;
                
                    }  
                    .link5{
                   
                      display: none; 
                    }

  }
/*media query 1030 sky box*/

@media (max-width: 1030px){

    .sky-box{
 
      
        height: 300px;
        width: 150%;
       display: flex;
        background-color: #0ab0d2;
        border-radius: 80px;
    }
    
    
    
    .box-head-3{
    
        
    
        font-size: 30px;
      
     
       }
       .para-2{
       
           font-size: 15px;
         
         
       }
       .picture{
    height: 530px;
    width: 300px;
       }
       .button-1{
       height: 50px;
       width: 100px;
        font-size: 20px;
        
       
        
    }
    .button-2{
        margin-right: 30%;
        color: white;
        background-color: rgba(0, 0, 0, 0.616);
        font-size: 30px;
        border: 1px solid black;
        padding: 4px 10px 4px 10px;
    }
    
}

/*media query 780 sky box*/

@media (max-width: 780px){

    .sky-box{
 
      
        height: 300px;
       width: 1500px ;
      
    }
    
    
    
    .box-head-3{
    
        
    
        font-size: 20px;
      
     
       }
       .para-2{
       
           font-size: 13px;
         
         
       }
       .picture{
        margin-top: 40%;
    height: 430px;
    width: 200px;
       }
       .button-1{
       height: 40px;
       width: 100px;
        font-size: 20px;
        
       
        
    }
    .button-2{
        height: 40px;
        width: 100px;
         font-size: 20px;
    }
}

/*media query 780 sky box*/

@media (max-width: 450px){

    .box-head-3{
        position:relative;
        right: 30%;

      min-width: 200px;
           
           
            font-size: 20px;
           color: white;
         
           }
           .para-2{
            position: relative;
            right: 30%;
            min-width: 200px;
           
               font-size: 12px;
              color: white;
             
           }
    
    
    
           .button-1{
            font-size: 15px;
          
          height: 50px;
          width: 15px;
            color: white;
           
        }
        .button-2{
            font-size: 15px;
          
            height: 50px;
            width: 80px;
              color: white;
        }
    .picture{
        display: none;
     }
     .sky-box{

        margin: 100px auto;
        height: 300px;
        width: 400px;
      
        border-radius: 40px;
        
    }
}


@media (max-width: 770px){
.happy-2{
       
       
           font-size: 60px;
           
   }
   
   .static2{
       color: black;
   }
   .head-5{
     
       font-size: 40px;
      
   }
  

}

@media (max-width: 450px){
    .happy-2{
           
           
               font-size: 40px;
               
       }
       
       .static2{
           color: black;
       }
       .head-5{
         
           font-size: 30px;
          
       }
      
    
    }
    @media (max-width: 330px){
        .happy-2{
               
               
                   font-size: 25px;
                   
           }
           
           .static2{
               color: black;
           }
           .head-5{
             
               font-size: 20px;
              
           }
          
        
        }
    
        @media (max-width: 330px){
            .happy{
                   
                   
                       font-size: 25px;
                       
               }
               
               .static2{
                   color: black;
               }
               .head-2{
                 
                   font-size: 20px;
                  
               }
              
            
            }
        

            @media (max-width: 450px){
                .blue-box{
                    height: 800px;
                    width:  300px;
                  
                  
                    flex-direction: column;
                    font-size: 10px;
                  padding: 10px;
                }
            
                .list-1 li{
                    padding: 2px;
                   
                
                }
                .list-2 li{
                    padding: 2px;
                   
                
                }
                .list-3 li{
                    padding: 2px;
                   
                
                }
                .list-4 li{
                    padding: 2px;
                   
                
                }
            
            
            }

            @media (max-width: 430px){
                .white-box{
                    height: 800px;
                    width:  300px;
                 
                    font-size: 14px;
                    flex-direction: column;
                   
                  padding: 10px;
                }
                
                  .list-7{
                   font-size: 12px;
                   
                  
                  }
              
              }
              @media (max-width: 780px){
              .facebook{
               
                height: 40px;
                width: 40px;
             }
             .insta{
              
                height: 40px;
                width: 40px;
             }
             .twiter{
                
                height: 40px;
                width: 40px;
             }

            }

  /*media query using box-1*/
  @media (max-width:430px){

    .box1{
      padding: ;
      height: 300px;
      width: 300px;
      overflow: hidden;
    }
      
.head{
 
  font-size: 30px;


  }
  .card-text{
   
     
      font-size: 20px;
    
  }      
  .image-2{
       position: absolute;
       top: 215%;
      left: 10%;

  }  
  .link{
 
    display: none; 
  }
    


  }
  




















    /*
  <div class="col-3">
              <div class="three-btn">
                  
                <a href="#for demo" class="demo">for demo</a>
                <a href="#en" class="en">en</a>
                <a href="#ai" class="ai">ai</a>
               </div>
            </div>
